@font-face {
  font-family: "TTFirsNeue";
  src: local('TTFirsNeue-Bold'),
    url("../fonts/TTFirsNeue-Bold.woff2") format("woff2"),
    url("../fonts/TTFirsNeue-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTFirsNeue";
  src: local('TTFirsNeue-Light'),
    url("../fonts/TTFirsNeue-Light.woff2") format("woff2"),
    url("../fonts/TTFirsNeue-Light.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TTFirsNeue";
  src: local('TTFirsNeue-Medium'),
    url("../fonts/TTFirsNeue-Medium.woff2") format("woff2"),
    url("../fonts/TTFirsNeue-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local('roboto-bold'),
    url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local('roboto-regular'),
    url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}