$ErrorColor: #ff3030;
$ErrorSubscribe: #f06666;
$activeBtnColor: #ce4307;
$hoverBtnColor: #bc572b;
$hoverAndBtnColor: #ff6e30;
$white: #fff;
$textonBlackColor: #cacaca;
$dateColor: #999999;
$inputColor: #e9e9e9;
$subcribeInputColors: #4a4a4a;
$mainDark: #202020;
